{% extends "base.html" %}

{% block content %}
    <h1>Mis Prestamos</h1>

    {% if librocopia_list %}
    <ul>

      {% for librocopia in librocopia_list %} 
      <li class="{% if librocopia.is_atrasado %}text-danger{% endif %}">
        <a href="{% url 'libro-detalle' librocopia.libro.pk %}">{{librocopia.libro.titulo}}</a> ({{ librocopia.fecha_devolucion }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No tiene libros prestados.</p>
    {% endif %}       
{% endblock %}